$greenFsC1: #1A1A1A;
$greenBgWhite: #fff;
$hlColor: #13BCBE;
$titleColor: #fff;
$headerColor: #1c2d64;
$mainColor: #818FB4;
$lightSbarColor: #e6e9f0;
$sideBg: #0B2F5C;
$sideBrColor: #264E95;



$pageH: 100%;
$sideWidth: 256px;
$headerH: 0.72rem;
$h32: 32px;

